name: $(Rev:r)

trigger:
  - main

parameters:
  - name: action
    displayName: 'Deploy/Delete/the app OR cleanup namespace'
    type: string
    default: deploy
    values:
      - deploy
      - delete
      - wipe_all
      - rescale
      - rollback
  - name: deploy_tst
    displayName: 'to TST Environment'
    type: boolean
    default: false
  - name: deploy_acc_dcr
    displayName: 'to ACC Environment in DCR Datacenter'
    type: boolean
    default: false
  - name: deploy_acc_wpr
    displayName: 'to ACC Environment in WPR Datacenter'
    type: boolean
    default: false
  - name: deploy_prd_dcr
    displayName: 'to PRD Environment in DCR Datacenter'
    type: boolean
    default: false
  - name: deploy_prd_wpr
    displayName: 'to PRD Environment in WPR Datacenter'
    type: boolean
    default: false
  - name: run_bdd_tests
    displayName: 'Run BDD Tests'
    type: boolean
    default: false

resources:
  repositories:
    - repository: tp
      type: git
      name: IngOne/P02670-global-templates
      ref: {{kingsRoadBranch}}

stages:

  - template: api/build-app-container/template.yml@tp
    parameters:
      incomingFeed: '{{pCode}}-incoming-tfsinterfaces'
      targetBinaryDirectory: 'web/target'
      targetConfigurationDirectory: 'web/target'
      targetRepository: '{{pCode}}tfsinteracr.azurecr.io'
      targetACR: '{{pCode}}-TFSInterACR-ACR-write'
      prismaAzureSC: '{{pCode}}-Prisma-Prisma-NONPROD'
      whitelist: 'docker/whitelist.yaml'
